/* Container do "body" da página de login */
#divPaginaLogin {
    position: absolute;
    margin: 5%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Cabeçalho e Subtítulo da página */
/* #divPaginaLogin header {

} */


/* Formulário de Login */
#divLogin {
    vertical-align: middle;
    display: inline-block;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 10px lightgray;
    max-width: 260px;
}

#divLogin h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

#divLogin pre {
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    color: rgb(255, 100, 100);
    margin-bottom: 0;
    white-space: pre-wrap;
}

#divLogin pre:empty {
    margin-top: 0;
}


#formLogin input, #formLogin button {
    font-size: 14pt;
    border-radius: 15px;
    border: 0;
    box-shadow: 0 0 3px lightgray;
    padding: 5px 15px 5px;
    box-sizing: border-box;
    width: 100%;
}

#formLogin button {
    margin-top: 15px;
    width: 100%;
}

#formLogin input {
    margin-bottom: 5px;
}

#formLogin input:focus {
    box-shadow: 0 0 3px lightseagreen;
}

#formLogin button:hover {
    color: lightseagreen;
}

#formLogin button:active {
    background-color: white;
}

#formLogin button:disabled{
    background-color: lightgrey;
    cursor: progress;
    color: grey;
}

/* Descrição */
#divDescricao {
    text-align: center;
    padding: 10px;
}

#divDescricao p {
    display: inline-block;
    max-width: 600px;
}

/* Footer */
#divPaginaLogin footer {
    margin-top: 16px;
}

#divPaginaLogin footer p {
    text-align: center;
    font-size: 9pt;
}