<% include menu %>
<div id="abas">
    <div id="abaPerfil">
        <% include abas/perfil %>
    </div>
    <div id="abaNotasParciais">
        <% include abas/notas %>
    </div>
    <div id="abaDisciplinas">
        <% include abas/disciplinas %>
    </div>
    <div id="abaHorarios">
        <% include abas/horarios %>
    </div>
    <div id="abaHistorico">
        <% include abas/historico %>
    </div>
    <div id="abaGradeEscolar">
        <% include abas/grade %>
    </div>
</div>