<!-- Corpo da página do aluno -->
<% include menu %>
<div id="abas">
    <div id="divPerfil">
        <% include abas/perfil %>
    </div>
    <div id="divNotasParciais">
        <% include abas/notas %>
    </div>
    <div id="divDisciplinas">
        <% include abas/disciplinas %>
    </div>
    <div id="divHorarios">
        <% include abas/horarios %>
    </div>
    <div id="divHistorico">
        <% include abas/historico %>
    </div>
    <div id="divGradeEscolar">
        <% include abas/grade %>
    </div>
</div>
<footer>
    <h4><%= perfil.unit %></h4>
</footer>