<div>
    <% include menu %>
    <div id="abas">
        <div id="abaPerfil">
            <div>
                <% include abas/perfil %>
            </div>
        </div>
        <div id="abaNotasParciais">
            <div>
                <% include abas/notas %>
            </div>
        </div>
        <div id="abaDisciplinas">
            <div>
                <% include abas/disciplinas %>
            </div>
        </div>
        <div id="abaHorarios">
            <div>
                <% include abas/horarios %>
            </div>
        </div>
        <div id="abaHistorico">
            <div>
                <% include abas/historico %>
            </div>
        </div>
        <div id="abaGradeEscolar">
            <div>
                <% include abas/grade %>
            </div>
        </div>
    </div>
</div>