<nav>
    <ul id="menu">
        <li class="menuItem" onclick="mostrarDiv('divPerfil')">Perfil</li>
        <li class="menuItem" onclick="mostrarDiv('divNotasParciais')">Notas Parciais</li>
        <li class="menuItem" onclick="mostrarDiv('divDisciplinas')">Disciplinas
            <ul class="subMenu">
                <% disciplinas.forEach(disciplina => { %>
                <li class="subMenuItem"><%= disciplina.name %></li>
                <% }) %>
            </ul>
        </li>
        <li class="menuItem" onclick="mostrarDiv('divHorarios')">Horários</li>
        <li class="menuItem" onclick="mostrarDiv('divHistorico')">Histórico</li>
        <li class="menuItem" onclick="mostrarDiv('divGradeEscolar')">Grade Escolar</li>
        <li class="menuItem" onclick="mostrarDiv('divCalendario')">Calendário</li>
    </ul>
</nav>
        <li id="imgAluno">
            <img src="<%= perfil.picture %>">
        </li>
<!--
<span>
    Progresso <%= Math.round(perfil.progress) %>%
    Média Acumulada <%= perfil.averageGrade %>
</span>
-->