<% disciplinas.forEach(disciplina => { %>
    <div class="disciplina">
        <div class="tituloDisciplina">
            <h4><%= disciplina.name %></h4>
        </div>
        <table>
            <thead>
                <tr>
                    <td>a</td>
                    <td>a</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
<% }) %>
<pre>
    <%= JSON.stringify(disciplinas, null, '  ') %>
</pre>