#abaPerfil pre {
    color: black;
    background-color: rgb(200,200,200);
}



/* Cabeçalho */

#abaPerfil header {
    padding: 20px;
}

#abaPerfil header > div {
    display: inline-block;
}




/* Título (nome) */

#abaPerfil header { 
    text-align: center;
    /* background-color: #9b2824;
    color: white; */
}



/* Imagem do Aluno */

#perfilImgAlunoContainer {
    cursor: pointer;
    border: 3px solid #680d0a;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    background-color: white;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#perfilImgAlunoContainer img {
    width: 120px;
    height: 160px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#perfilImgAlunoContainer:hover {
    border-radius: 80px;
    width: 200px;
    height: 200px;
}

#perfilImgAlunoContainer:hover img {
    width: 150px;
    height: 200px;
}



/* Cartão Aluno */

#perfilCartao {
    width: 100%;
}

#perfilCartao table {
    height: 215px;
    border-spacing: 25px 0;
    border-radius: 20px;
    background-color: #9b2824;
    color: white;
}
#perfilCartao tr td:last-child h2 {
    font-family: 'Roboto', sans-serif;
    text-align: right;
}



/* Tabelas de Dados */

#perfilDados {
    text-align: center;
}

.perfilDadosTabela {
    display: inline-block;
    width: 33%;
    min-width: 250px;
    vertical-align: top;
}

.perfilDadosTabela table {
    width: 100%;
    border-spacing: 20px 5px;
}

.perfilDadosTabela td:nth-child(1n) {
    text-align: left;
}

.perfilDadosTabela td:nth-child(2n) {
    text-align: right;
}

.perfilDadosTabela tr:nth-child(2n) {
    background-color: #a7403d15;
}

.perfilDadosTabela tr:nth-child(2n) {
    text-align: right;
}

.perfilDadosTabela tbody tr:hover {
    background-color: #9b2824;
    color: white;
}