/* Container do "body" da página de login */
div#paginaLoginContainer {
    position: absolute;
    margin: 5%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

div#paginaLogin {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
}



/* Formulário de Login */

div#login {
    vertical-align: middle;
    display: inline-block;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 10px lightgray;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}

div#login h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

pre#erroLogin {
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    color: rgb(255, 100, 100);
    margin-bottom: 0;
    white-space: pre-wrap;
    max-width: 300px;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}

pre#erroLogin:empty {
    margin-top: 0;
}


form#login input, form#login button {
    font-size: 14pt;
    border-radius: 15px;
    border: 0;
    box-shadow: 0 0 3px lightgray;
    padding: 5px 15px 5px;
    box-sizing: border-box;
    width: 100%;
}

form#login button {
    margin-top: 15px;
    width: 100%;
}

form#login input {
    margin-bottom: 5px;
}

form#login input:focus {
    box-shadow: 0 0 3px lightseagreen;
}

form#login button:hover {
    color: lightseagreen;
}

form#login button:active {
    background-color: white;
}
form#login button:not(:disabled) {
    cursor: default;
}

form#login button:disabled {
    background-color: lightgrey;
    cursor: not-allowed;
    color: grey;
}



/* Descrição */

div#loginDescricao {
    padding: 10px;
}

div#loginDescricao p {
    display: inline-block;
    max-width: 700px;
}



/* Footer */

div#paginaLogin footer {
    margin-top: 16px;
    min-height: 59px;
}

div#paginaLogin footer p {
    text-align: center;
    font-size: 9pt;
}

div#paginaLogin footer a {
    white-space: nowrap;
    margin: 0 1vw 0;
    -webkit-transition: font-size .1s ease;
    -moz-transition: font-size .1s ease;
    -ms-transition: font-size .1s ease;
    -o-transition: font-size .1s ease;
    transition: font-size .1s ease;
}

div#paginaLogin footer a:hover {
    font-size: 12pt;
}



/* Página sobre Dados */

#infoTabela th {
    font-family: 'Montserrat', sans-serif;
}

#infoTabela td {
    width: 1%;
}

#infoTabela td ul li {
    text-align: left;
}

#infoTabela ul {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#infoTabela li ul {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    position:absolute;
}

#infoTabela li:hover ul {
    opacity: 1;
    visibility: visible;
    position: static;
}