/* Container do "body" da página de login */
#divPaginaLogin {
    position: absolute;
    margin: 5%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Cabeçalho e Subtítulo da página */
/* #divPaginaLogin header {

} */

/* Container Formulário de Login */
/* #divLoginContainer {
    min-height: 250px;
} */


/* Formulário de Login */
#divLogin {
    vertical-align: middle;
    display: inline-block;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 10px lightgray;
}

#divLogin h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

#divLogin pre {
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    color: rgb(255, 100, 100);
    margin-bottom: 0;
    white-space: pre-wrap;
    height: auto;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    transition: all .1s ease;
}

#divLogin pre:empty {
    margin-top: 0;
}


#formLogin input, #formLogin button {
    font-size: 14pt;
    border-radius: 15px;
    border: 0;
    box-shadow: 0 0 3px lightgray;
    padding: 5px 15px 5px;
    box-sizing: border-box;
    width: 100%;
}

#formLogin button {
    margin-top: 15px;
    width: 100%;
}

#formLogin input {
    margin-bottom: 5px;
}

#formLogin input:focus {
    box-shadow: 0 0 3px lightseagreen;
}

#formLogin button:hover {
    color: lightseagreen;
}

#formLogin button:active {
    background-color: white;
}
#formLogin button:not(:disabled) {
    cursor: default;
}

#formLogin button:disabled {
    background-color: lightgrey;
    cursor: not-allowed;
    color: grey;
}

/* Descrição */
#divLoginDescricao {
    text-align: center;
    padding: 10px;
}

#divLoginDescricao p {
    display: inline-block;
    max-width: 600px;
}

/* Footer */
#divPaginaLogin footer {
    margin-top: 16px;
    min-height: 59px;
}

#divPaginaLogin footer p {
    text-align: center;
    font-size: 9pt;
}

#divPaginaLogin footer a {
    white-space: nowrap;
    margin: 0 1vw 0;
    -webkit-transition: font-size .1s ease;
    -moz-transition: font-size .1s ease;
    transition: font-size .1s ease;
}

#divPaginaLogin footer a:hover {
    font-size: 12pt;
}
